*{
  text-align : center;
}
input[type=text]{
  font-family: 'Noto Sans KR','Noto Sans Korean', "Nanum Gothic", sans-serif !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 0;
  outline: none;
  font-size: 10px;
  
}
input[type="checkbox"]{
  -ms-transform: scale(2); /* IE */

-moz-transform: scale(2); /* FF */

-webkit-transform: scale(2); /* Safari and Chrome */

-o-transform: scale(2); /* Opera */

padding: 10px;
}

.item2{
  margin-top: 30px;
  
}

input::placeholder{
color: #d9d9d9
}
.mainheader{
  padding-top: 1px;
}
.dust-class{
  width: 50%; 
  box-sizeing: border-box;
  margin: 20px auto;
  position: relative;
  
}
.dust-class label{
  display: inline-block;
  position: absolute;
  top: -35px;
  left: 10px;
  padding: 10px;
  background: rgb(255, 255, 255); opacity : 0.7;
  border-radius: 25px;
  font-size: 12px;
  color: #888;
  font-weight: bold;
  
}
.dust-class label span{
  color: #da4841;
  vertical-align: -1px;
}
.dust-class input {
  width: 300px;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
  
}
.dust-class select{
  width: 334px;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
}
.dust-class input[type=checkbox]{
  width: 334px;
  border: 1px solid #dddddd !important;
  font-size: 1rem;
  line-height: 1.45;
  letter-spacing: -0.04rem;
  border-radius: 8px;
  padding: 16px;
  margin-top: 25px;
  
}
.b-button{
  
  background-color:#079992;
  clor:white;
  padding:12px 60px;
  color:#fff;
  font-size:14px;
  border-radius:25px;
  margin-top: 10px;
}
.g-recaptcha{
  margin-top: 10px;
  display:flex;
  justify-content: center;
  
}
.allpage{
  width: 1000px;
  height: 650px;
  background-image: url('./salesforce-ixjge1y4w0rkwtdn.jpg');
  background-size: cover;
}
.subbox{
  position: absolute;
  left: 17%;
  top:15%;
}
.responseitem{
  width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* flex-wrap: warp; */
  
  
}
.footeritem{
  position: absolute;
  left: 250px;
}


/*@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');

.normal{
  font-family: 'Darker Grotesque', sans-serif;
  font-weight:500;
  font-size:17px;
}